__pycache__/
.DS_Store
checkpoints/
experiments/
tmp/
*.pth
*.pt
*.mp4
*.zip
*.wav
*.avi
*.mov
*.mkv
*.tar.gz
*.tar
*.rar
*.7z
*.pkl
datasets/ravdess_raw/*.zip
datasets/ravdess_raw/*.tar.gz
wav2vec2-base-960h/
wav2vec-english-speech-emotion-recognition/
